body {
  background: #ddd;
  color: #333;
  font-family: 'Helvetica', sans-serif;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.chart {
  float: left;
  height: 55%;
  width: 70%;
}

.live_data {
  border-bottom: 1px solid #333;
}

.logo {
  color: #222;
  font-size: 4em;
  font-weight: normal;
}

.main {
  margin: 0 auto;
}

.sidebar {
  border: 1px solid #333;
  float: right;
  height: 70%;
  width: 20%;
}

.toggleData {
}