@font-face
{
font-family: 'Handwriting Draft';
src: url('../fonts/handwriting_draft/handwriting-draft_free-version.ttf');
}

body {
  background: #ddd;
  color: #333;
  font-family: 'Helvetica', sans-serif;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.chart {
  float: left;
}

.logo {
  color: #222;
  font-family: 'Handwriting Draft';
  font-size: 5em;
  font-weight: normal;
}