section.btcExchanges
  header
    h5 BTC Exchanges

  //- section
  //-   a(href="https://vip.btcchina.com/", target="blank_")
  //-     span.btcchina BTC China (¥CNY
  //-       super *
  //-       | )
  //-     input(name="btcchina_buy", value="buy", type="checkbox", checked)
  //-     br

  //- section
  //-   a(href="https://www.bitstamp.net/", target="_blank")
  //-     span.bitstamp BitStamp ($USD)
  //-     input(name="bitstamp_buy", value="buy", type="checkbox")
  //-     br

  //- section
  //-   a(href="https://www.mtgox.com/", target="_blank")
  //-     span.mtgox MtGox ($USD)
  //-     input(name="mtgox_buy", value="buy", type="checkbox")
  //-     br
section.ltcExchanges
  header
    h5 LTC Exchanges

  //- section
  //-   a(href="https://btc-e.com/", target="_blank")
  //-     span.btcchina BTC-e ($USD)
  //-     input(name="btce_ltc_buy", value="buy", type="checkbox")
  //-     br