ul
  li
    a.icon.gmail-sprite(href="mailto:collenjones@gmail.com", target="_top")
  li
    a.icon.google-plus-sprite(href="https://plus.google.com/share?url=http://www.bitwren.com/", target="_blank")
  li
    a.icon.facebook-sprite(href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.bitwren.com/&p[images][0]=http://winpoker.com/sites/default/files/bitcoin.png&p[title]=wren!&p[summary]=Check+out+this+great+BitCoin+Exchange+vs+Twitter+Sentiment Analysis!", target="_blank")
    script(src="//platform.twitter.com/widgets.js")
  li
    a.icon.twitter-sprite(href="https://twitter.com/intent/tweet?text=Check%20out%20this%20BitCoin%20performance%20vs%20sentiment%20analysis!%20@collenjones%20@HackReactor&url=http%3A%2F%2Fwww.bitwren.com")
  //- li
  //-   a.icon.hack_reactor-sprite(href="http://www.hackreactor.com", target="_blank")