section.icons
  a(href="mailto:collenjones@gmail.com", target="_top")
    img.icon(src="img/gmail.png")

  a(href="https://plus.google.com/share?url=http://www.bitwren.com/", target="_blank")
    img.icon(src="img/google-plus.png")
  a(href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.bitwren.com/&p[images][0]=http://winpoker.com/sites/default/files/bitcoin.png&p[title]=wren!&p[summary]=Check+out+this+great+BitCoin+Exchange+vs+Twitter+Sentiment Analysis!", target="_blank")
    img.icon(src="img/facebook.png")
  script(src="//platform.twitter.com/widgets.js")
  a(href="https://twitter.com/intent/tweet?text=Check%20out%20this%20BitCoin%20performance%20vs%20sentiment%20analysis!%20@collenjones%20@HackReactor&url=http%3A%2F%2Fwww.bitwren.com")
    img.icon(src="img/twitter.png")
  a(href="http://www.hackreactor.com", target="_blank")
    img.icon.hack_reactor_logo(src="img/hack_reactor.png")