section.toggleButton
  div.left-arrow-sprite
  span.button_text.hidden X
header.vertical_text Options
section.toggleData
  section.exchangeData
    header
      h4 Data

    section.sentiments
      header
        h5 Twitter

      section
        span.twitter Sentiment (BTC)
        input(name="twitter_btc_sentiment", value="sentiment", type="checkbox")
        br