doctype html
html
  head
    meta(charset="UTF-8")
    title WREN

    link(rel="stylesheet", href="style/style.css")
    link(rel="SHORTCUT ICON", href="/img/favicon.ico")

  body
    section.popup.hidden
      ul
        li Sentiment
          span.sentiment-header [ + / - ]

      section.tweet_loading ... LOADING ...
    section.transparent_layer.hidden

    section.main
      img.loading(src="img/intersection.gif")

      section.container
        section.chart
        aside.hover_window
          p
            span.bold_italic Click
            | on
            span.twitter blue data
            | to see Tweets.

    script(src="bower_components/jquery/jquery.js")
    script(src="bower_components/underscore/underscore.js")
    script(src="bower_components/moment/moment.js")
    script(src="bower_components/backbone/backbone.js")
    script(src="bower_components/highstock/js/highstock.src.js")

    script(src="style/Highcharts.theme.js")
    script(src="js/helpers.js")
    script(src="js/chartHelpers.js")
    script(src="js/stats/sma.js")

    script(src="js/templates/jst.js")

    script(src="js/Views/AppView.js")
    script(src="js/Views/NavBarView.js")
    script(src="js/Views/SideBarView.js")
    script(src="js/Views/FooterView.js")

    script(src="js/app.js")
