doctype html
html
  head
    meta(charset="UTF-8")
    title WREN

    link(rel="stylesheet", href="style/css/main.css")
    link(rel="stylesheet", href="style/css/navbar.css")
    link(rel="stylesheet", href="style/css/footer.css")

    link(rel="SHORTCUT ICON", href="/img/favicon.ico")

  body
    section.main
      section.container

    script(src="bower_components/jquery/jquery.js")
    script(src="bower_components/underscore/underscore.js")
    script(src="bower_components/moment/moment.js")
    script(src="bower_components/backbone/backbone.js")
    script(src="bower_components/highstock/js/highstock.src.js")

    script(src="style/Highcharts.theme.js")
    script(src="js/helpers.js")
    script(src="js/chartHelpers.js")
    script(src="js/stats/sma.js")

    script(src="js/templates/jst.js")

    script(src="js/Views/AppView.js")
    script(src="js/Views/NavBarView.js")
    script(src="js/Views/SideBarView.js")
    script(src="js/Views/ChartView.js")
    script(src="js/Views/LoadingSpinnerView.js")
    script(src="js/Views/InfoModalView.js")
    script(src="js/Views/TwitterFeedView.js")
    script(src="js/Views/FooterView.js")

    script(src="js/app.js")
