footer {
  &.pageFooter {
    background-color: #222;
    bottom: 0;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 1);
    height: 6%;
    position: absolute;
    width: 100%;
    z-index: 20;
  }

  .icons {
    width: 315px;
    margin: 0.3% auto;

    .icon {
      height: 32px;
      width: 32px;
      margin-right: 4%;
      opacity: 0.8;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    .hack_reactor_logo {
      width: 100px;
    }
  }
}