html {
  height: 100%;
}

body {
  background: #ddd;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

img.loading {
  top: 40%;
  left: 45%;
  position: absolute;
}

input:hover {
  cursor: pointer;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
}


.bold_italic {
  font-style: italic;
  font-weight: bold;
}

.center {
  margin: auto;
}

.container {
  height: 94%;
  margin: 0 auto;
  padding: 0 3%;
  position: relative;
  width: 94%;
}

.container h2 {
  margin-top: 40px;
  text-align: center;
}

.hidden {
  display: none;
}

.hoverModal {
  background-color: LightCyan;
  border: 2px solid #666;
  border-radius: 5px;
  display: none;
  font-size: 0.9em;
  height: 40px;
  padding: 5px 0;
  opacity: 0.95;
  position: absolute;
  right: 45%;
  text-align: center;
  text-shadow: 1px 1px 1px #eee;
  top: 9%;
  width: 130px;
  -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);
  box-shadow: 0 2px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);

  p {
    margin-top: 5px;
    padding: 0;
  }
}

.tweet_loading {
  color: #333;
  display: none;
  font-weight: bold;
  letter-spacing: 1.01em;
  position: absolute;
  text-transform: uppercase;
  left: 20%;
  top: 20%;
}

.main {
  margin: 0 auto;
  height: 100%;
}

.popup {
  background: #eeeeee;
  border-radius: 10px;
  border: 1px solid #777;
  height: 90%;
  left: 28%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  position: absolute;
  top: 5%;
  width: 45%;
  z-index: 99;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);
  box-shadow: 0 4px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.popup ul li:first-child {
  background-color: #ececec;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: fixed;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 45%;
}

.popup ul li:nth-child(2) {
  margin-top: 30px;
}

.popup ul li {
  background: #fff;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  height: 80px;
  width: 100%;
}

.popup ul li .username {
  float: left;
  font-size: 0.95em;
  font-weight: bold;
}

.popup ul li .timestamp {
  color: #888;
  float: right;
  font-size: 0.85em;
  font-style: italic;
}

.popup ul li .text {
  font-size: 0.9em;
}

.popup ul li .tweet {
  float: left;
  margin-left: 1%;
  margin-top: 1%;
  width: 84%;
}

.popup ul li .sentiment {
  float: left;
  font-size: 2em;
  font-weight: bold;
  line-height: 250%;
  text-align: center;
  width: 15%;
}

.popup ul li .sentiment-header {
  float: right;
  position: relative;
  right: 4.5%;
}

.transparent_layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  height: 100%;
  opacity: 0.6;
  width: 100%;
  z-index: 90;
}