html {
  height: 100%;
}

body {
  background: #ddd;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

img.loading {
  top: 40%;
  left: 45%;
  position: absolute;
}

input:hover {
  cursor: pointer;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.bitstamp {
  color: #16a085;
  text-shadow: 1px 1px 1px #eee;
}

.bold_italic {
  font-style: italic;
  font-weight: bold;
}

.btcchina {
  color: #555;
  text-shadow: 1px 1px 1px #eee;
}

.container {
  height: 94%;
  margin: 0 auto;
  padding: 0 3%;
  position: relative;
  width: 94%;
}

.container h2 {
  margin-top: 40px;
  text-align: center;
}

.hidden {
  display: none;
}

.hoverModal {
  background-color: LightCyan;
  border: 2px solid #666;
  border-radius: 5px;
  display: none;
  font-size: 0.9em;
  height: 40px;
  padding: 5px 0;
  opacity: 0.95;
  position: absolute;
  right: 45%;
  text-align: center;
  text-shadow: 1px 1px 1px #eee;
  top: 9%;
  width: 130px;
  -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);
  box-shadow: 0 2px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);

  p {
    margin-top: 5px;
    padding: 0;
  }
}

.tweet_loading {
  color: #333;
  display: none;
  font-weight: bold;
  letter-spacing: 1.01em;
  position: absolute;
  text-transform: uppercase;
  left: 20%;
  top: 20%;
}

.logo {
  color: MediumAquaMarine;
  cursor: default;
}
.main {
  margin: 0 auto;
  height: 100%;
}

.mtgox {
  color: #d35400;
  text-shadow: 1px 1px 1px #eee;
}

.twitter {
  color: #2980b9;
  text-shadow: 1px 1px 1px #eee;
}

.popup {
  background: #eeeeee;
  border-radius: 10px;
  border: 1px solid #777;
  height: 90%;
  left: 28%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  position: absolute;
  top: 5%;
  width: 45%;
  z-index: 99;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);
  box-shadow: 0 4px 12px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5);
}

.popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popup ul li:first-child {
  background-color: #ececec;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: fixed;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 45%;
}

.popup ul li:nth-child(2) {
  margin-top: 30px;
}

.popup ul li {
  background: #fff;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  height: 80px;
  width: 100%;
}

.popup ul li .username {
  float: left;
  font-size: 0.95em;
  font-weight: bold;
}

.popup ul li .timestamp {
  color: #888;
  float: right;
  font-size: 0.85em;
  font-style: italic;
}

.popup ul li .text {
  font-size: 0.9em;
}

.popup ul li .tweet {
  float: left;
  margin-left: 1%;
  margin-top: 1%;
  width: 84%;
}

.popup ul li .sentiment {
  float: left;
  font-size: 2em;
  font-weight: bold;
  line-height: 250%;
  text-align: center;
  width: 15%;
}

.popup ul li .sentiment-header {
  float: right;
  position: relative;
  right: 4.5%;
}

.sidebar {
  border-left: 1px solid #ccc;
  background-color: #ddd;
  color: #333;
  height: 100%;
  letter-spacing: 0.1em;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  text-transform: uppercase;
  width: 40px;
  z-index: 1;

  a {
    text-decoration: none;
  }

  section {
    font-size: 0.8em;
  }

  .exchanges header h5, .sentiments header h5 {
    background-color: #ccc;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #555;
    cursor: default;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    margin: 5px 0;
    padding: 5px 0;
    width: 100%;
  }
}

.toggleData {
  margin: 35% 0 0 0;
  position: relative;
  right: -100%;
  width: 145px;

  input {
    margin-right: 3%;
  }

  header {
    h4 {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 5%;
      letter-spacing: 0.1em;
    }
  }
}

.toggleButton {
  border: 3px solid #333;
  border-radius: 20px;
  height: 20px;
  right: 8px;
  top: 10px;
  position: absolute;
  width: 20px;

  img {
    position: absolute;
    right: 3px;
    top: 2px;
  }

  .button_text {
    font-weight: bold;
    font-size: 1.3em;
    position: absolute;
    right: 3px;
    top: 1px;
  }
}

.transparent_layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  height: 100%;
  opacity: 0.6;
  width: 100%;
  z-index: 90;
}

.vertical_text {
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  /*margin-left: 25%;*/
  position: absolute;
  right: -63px;
  top: 5%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -o-transform-origin: bottom left;
}