html {
  height: 100%;
}

body {
  background: #ddd;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

img.loading {
  top: 40%;
  left: 45%;
  position: absolute;
}

input:hover {
  cursor: pointer;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
}


.bold_italic {
  font-style: italic;
  font-weight: bold;
}

.center {
  margin: auto;
}

.container {
  height: 94%;
  margin: 0 auto;
  padding: 0 3%;
  position: relative;
  width: 94%;
}

.container h2 {
  margin-top: 40px;
  text-align: center;
}

.hidden {
  display: none;
}

.main {
  margin: 0 auto;
  height: 100%;
}
