.facebook-sprite, .gmail-sprite, .google-plus-sprite, .hackreactor-sprite, .left-arrow-sprite, .tumblBeast-sprite, .twitter-sprite{
	background: url(../../img/sprites.png) no-repeat;
}

.facebook-sprite{
	background-position: -47px 0;
	width: 35px;
	height: 35px;
}

.gmail-sprite{
	background-position: -92px 0;
	width: 35px;
	height: 35px;
}

.google-plus-sprite{
	background-position: -139px 0;
	width: 35px;
	height: 35px;
}

.hackreactor-sprite{
	background-position: -209px 0;
	width: 288px;
	height: 80px;
}

.left-arrow-sprite{
	background-position: -184px 0;
	width: 16px;
	height: 16px;
}

.tumblBeast-sprite{
	background-position: 0 -94px ;
	width: 600px;
	height: 277px;
}

.twitter-sprite{
	background-position: 0 0;
	width: 35px;
	height: 35px;
}

