.facebookSprite, .gmailSprite, .google-plusSprite, .twitterSprite, .hack_reactorSprite, .tumblBeastSprite, .left-tri16pxSprite{
	background: url('../../img/sprites.png') no-repeat;
}

.facebookSprite{
	background-position: 0 0;
	width: 32px;
	height: 32px;
}

.gmailSprite{
	background-position: -40px 0;
	width: 32px;
	height: 32px;
}

.google-plusSprite{
	background-position: 0 -40px ;
	width: 32px;
	height: 32px;
}

.twitterSprite{
	background-position: -40px -40px ;
	width: 32px;
	height: 32px;
}

.hack_reactorSprite{
	background-position: 0 -80px ;
	width: 100px;
	height: 30px;
}

.tumblBeastSprite{
	background-position: 0 -114px ;
	width: 600px;
	height: 277px;
}

.left-tri16pxSprite{
	background-position: -80px 0;
	width: 16px;
	height: 16px;
}
